Abbreviations

 Abbreviations

a) FYI - We have added expansions for the following abbreviations
per Section 3.6 of RFC 7322 ("RFC Style Guide"). Please review each
expansion in the document carefully to ensure correctness.

` medium access control (MAC)`


b) Both the expansion and the acronym for the following terms are used
throughout the document. As recommended in the Web Portion of the
Style Guide <https://www.rfc-editor.org/styleguide/part2/#exp_abbrev>,
once an abbreviation is introduced, the abbreviated form should be
used thereafter. Please consider if you would like to apply this style
for the following terms:

```
 6LoWPAN Border Router (6LBR)
 Denial of Service (DoS)
 Extended Address Registration Option (EARO)
 Multicast Listener Discovery Version 2 (MLDv2)
 Neighbor Discovery (ND)
 NoSec (No Security)
 Object Security for Constrained RESTful Environments (OSCORE)
 Resource Directory (RD)
```

a) Thanks for expanding "MAC". The expansion of the other acronyms in the document looks correct.

b) Yes, please apply the recommended style throughout the document.