Use of `<aside>` element

Please review whether the following note in this document should be in the `<aside>` element. It is defined as "a container for content that is semantically less important or tangential to the  content that surrounds it" (https://authors.ietf.org/en/rfcxml-vocabulary#aside).

```
Current:
   Note: A CoAP server implementation that is unaware of the updates to
   [RFC7252] made by this document will expect group requests to never
   contain an ETag Option (see Section 8.2.1 of [RFC7252]).  Such a
   server treats an ETag Option in a group request as an unrecognized
   option per Sections 5.4 and 8.2.1 of [RFC7252], causing it to ignore
   this (elective) ETag Option regardless of its value, and processes
   the request normally as if that ETag Option was not included.
```

Ok for me to use the "aside" element for that paragraph.